# Git
.git
.gitignore

# Dependencies
node_modules
target
.npm
package-lock.json

# Build outputs
dist
build

# IDE / Editor
.vscode
.idea
*.swp
*.swo
*.iml

# Environment
.env
.env.local

# Tests
.nyc_output
coverage

# OS
.DS_Store
Thumbs.db
