@if (loading()) {
  <div class="spinner">
    <nz-spin />
  </div>
} @else {
  @if (groups().length > 0) {
    @if (selectedGroup(); as group) {
      <gcd-feature-tabs [groupMap]="getGroupMap(group)" [groupName]="group.name" />
    }
    @if (favorites.open()) {
      <gcd-favorites (close)="favorites.close()"></gcd-favorites>
    }
  } @else {
    <div class="alert">
      <nz-alert
        [nzAction]="action"
        nzType="warning"
        nzMessage="Warning"
        nzDescription="Received 0 groups from API, maybe unauthorized?"
        nzShowIcon
      />
      <ng-template #action>
        <button nz-button nzSize="small" nzType="primary" nzGhost (click)="onReload()">Refresh</button>
      </ng-template>
    </div>
  }
}
