<div class="flex flex-col gap-1">
  <gcd-pipeline-summary [statusCounts]="statusCounts()" />
  <div class="flex justify-between">
    <div class="flex flex-col gap-050">
      <div class="flex gap-050">
        <gcd-group-filter
          [projects]="projects()"
          [filterText]="filterTextGroup()"
          (filterTextChange)="onFilterTextGroupsChanged($event)"
        />
        <gcd-project-filter
          [projects]="projects()"
          [filterText]="filterTextProject()"
          (filterTextChange)="onFilterTextProjectsChanged($event)"
        />
        <gcd-branch-filter
          [branches]="branches()"
          [filterText]="filterTextBranch()"
          (filterTextChange)="onFilterTextBranchesChanged($event)"
        />
      </div>
      <gcd-topic-filter
        [loading]="loading()"
        [projects]="projects()"
        [filterTopics]="filterTopics()"
        (filterTopicsChange)="onFilterTopicsChanged($event)"
      />
      <gcd-status-filter
        [statusCounts]="statusCounts()"
        [filterStatuses]="filterStatuses()"
        (filterStatusesChange)="onFilterStatusesChanged($event)"
      />
    </div>
    <button
      class="refresh-button"
      nz-button
      nz-tooltip
      nzTooltipTitle="Fetch the newest pipeline from GitLab"
      [disabled]="refreshing()"
      (click)="onRefresh()"
    >
      <span nz-icon nzType="reload" [nzSpin]="refreshing()"></span>
      Refresh
    </button>
  </div>
  @if (loading()) {
    <nz-spin />
  } @else {
    <gcd-pipeline-table
      [projectPipelines]="filteredProjectPipelines()"
      [pinnedPipelines]="pinnedPipelines()"
      (pinnedPipelinesChange)="onPinnedPipelinesChanged($event)"
      (pipelineStatusChange)="onPipelineStatusChanged($event)"
    />
  }
</div>
